# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# 构建产物
dist/
build/

# 工具缓存
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/



# 数据集缓存（Stage 4 起下载的数据放这里）
data/
*.npz
*.npy

# 编辑器 / 系统
.idea/
.vscode/
.DS_Store

# Jupyter
.ipynb_checkpoints/
